/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* principals colors */
:root{
    --primary-color : #233867;
    --second-color : #FEA800;
    --second-color-bg : #fea9004b;
    --font : 'Open Sans', sans-serif;
    color-scheme: white;
}

#root {
    position: relative;
}

*{
    font-family: var(--font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Header */
.main-nav{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
}

.logo-nav-img{
    width: 8vw;
    height: auto;
    filter: invert(1);
}

.links{
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-evenly;
}

.nav-link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
/* Footer */
.footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
}

.logo-footer{
    width: 5vw;
    height: auto;
}

/* Form */
.form-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form-home_tittle {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.formEmployee{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto 10px auto;
    box-shadow: var(--primary-color) 5px 5px 15px 0px;
    padding: 15px 20px;
    border-radius: 10px;
}
legend{
    font-weight: 700;
    color: var(--primary-color);
    padding: 0 10px;
}

.informations{
    display: flex;
    justify-content: space-between;
}

label {
    margin-top: 15px;
    color: var(--primary-color);
}
input, select {
    margin-top: 5px;
    border: var(--second-color) solid 1px;
    border-radius: 10px;
    padding: 5px 15px;
}

.employee, .adresse {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 10px 10px;
    border: var(--primary-color) solid 1px;
    border-radius: 10px;
}

.department{
    margin-top: 10px;
}

.button-save{
    margin-top: 5px;
    align-self: center;
    background-color: var(--second-color);
    border: none;
    border-radius: 10px;
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}
.btn-save:hover{
    letter-spacing: 2px;
}

/* Tab */

.current-title{
    text-align: center;
    margin-top: 30px;
}

.DataTable {
    border-collapse: separate!important;
    margin: auto;
    border-radius: 10px;
    outline: 2px solid var(--second-color);
    border: transparent;
}

.DataTable__container {
    width: 95%;
    margin: 50px auto;
    box-shadow: var(--primary-color) 5px 5px 15px 0px;

}

.DataTable__caption {
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.QuerySearch__input{
    background-color: none;
}

.DataTable__entries-query-container {
    margin : 10px;
    margin-bottom: 15px;

}

.DataTable__head-button {
    background-color: var(--second-color-bg);
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 500;
    transition: border-color .25s;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
}
.DataTable__head-button:hover{
    border: 2px solid var(--primary-color);
}
.ShowEntries__label {
    display: flex;
    align-items: center;
}

.ShowEntries__select {
    width: auto;
    margin: auto 1rem;
}

.QuerySearch__label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuerySearch__input {
    margin-left: 0.5rem;
    background: none;
}

.DataTable__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.DataTable__buttons-container {
    padding: 10px 0 15px;
    border-bottom: 1px solid;
    flex-direction: row!important;
}

.DataTable__body-row:nth-child(odd) {
    background-color: var(--second-color-bg);
}

.DataTable__body-row {
    height: 65px;
    text-align: center;
}

.DataTable__body-cell {
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.DataTable__entries-query-container {
    margin: 10px;
}

.DataTable__foot-row{
    padding: 10px;
    border: none;
}

.PaginationIndex__button, .PaginationIndex__previous, .PaginationIndex__next {
    background-color: var(--second-color-bg);
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 500;
    transition: border-color .25s;
    font-family: inherit;
    padding: 5px!important;
    cursor: pointer;
}

.PaginationIndex__button{
    margin-left: 5px;
    margin-right: 5px;
}


.PaginationIndex__button--active {
    border: 2px solid var(--primary-color)!important;
}

/* Modale */
/* Custom personal modal */

.modal {
    background-color: var(--primary-color);
}

.modal * {
    color: white;
}

.modal__button {
    color: var(--second-color);
}

.modal__text {
    margin: 20px auto;
}

